.container {
    width: 100%;
    padding: 15px;
}

.top-content {
    display: flex;
    justify-content: space-between;
}

.card-content {
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    // grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr)); Si la pantalla es menor a 25rem la columna toma el 100%, caso contrario divide en columnas de 25rem
    gap: 1rem;
    justify-content: center;
}