.container {
    width: 100%;
    padding: 15px;
    position: relative;
}

.top-content {
    display: flex;
    justify-content: space-between;
}

.card-content {
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    // grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr)); // Si la pantalla es menor a 25rem la columna toma el 100%, caso contrario divide en columnas de 25rem
    gap: 1rem;
    justify-content: center;
}

@media(max-width: 576px) {
    .top-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        app-input {
            z-index: 1;
        }

        .btn-container {
            position: absolute;
            height: 100vh;
            top: 0;
            left: 0;
            width: 100%;
            padding: 15px;

            .btn-content {
                position: fixed;
                width: 100%;
                left: 0;
                bottom: 0;
                z-index: 1;
                background-color: #ffffff;
                padding: 15px;

                button {
                    width: 100%;
                }
            }
        }
    }
}