<div #myModal class="container">
    <div class="content">
        <div class="title">
            <p>{{title}}</p>
            <img src="../assets/close-icon.svg" (click)="close()" />
        </div>
        <br>

        <div class="grid">
            <div class="grid-12 grid-xs-6">
                <div class="image-container">
                    <img [src]="image.value" alt="" srcset="" appCrashImage>
                </div>
            </div>
            <div class="grid-12 grid-xs-6">
                <form [formGroup]="formPlayer" class="form-group">
                    <div class="grid">
                        <div class="grid-12 grid-xs-6">
                            <app-input label="Nombre:" placeholder="Nombre" formControlName="firstName"
                                [required]="true">
                            </app-input>
                            <span *ngIf="(firstName?.dirty || firstName?.touched) && firstName?.errors?.['required']"
                                class="error">
                                * Field required
                            </span>
                        </div>
                        <div class="grid-12 grid-xs-6">
                            <app-input label="Apellido:" placeholder="Apellido" formControlName="lastName"
                                [required]="true">
                            </app-input>
                            <span *ngIf="(lastName?.dirty || lastName?.touched) && lastName?.errors?.['required']"
                                class="error">
                                * Field required
                            </span>
                        </div>
                    </div>

                    <div class="grid">
                        <div class="grid-12 grid-xs-6">
                            <app-input label="Imagen (URL):" placeholder="Imagen" formControlName="image"
                                [required]="true">
                            </app-input>
                            <span *ngIf="(image?.dirty || image?.touched) && image?.errors?.['required']" class="error">
                                * Field required
                            </span>
                        </div>
                        <div class="grid-12 grid-xs-6">
                            <app-select label="Posición:" placeholder="Seleccione posición" formControlName="idPosition"
                                [required]="true" [data]="positionList">
                            </app-select>
                            <span *ngIf="(idPosition?.dirty || idPosition?.touched) && idPosition?.errors?.['required']"
                                class="error">
                                * Field required
                            </span>
                        </div>
                    </div>

                    <app-slider formControlName="attack" [label]="'Ataque'" required></app-slider>
                    <app-slider formControlName="defense" [label]="'Defensa'" required>
                    </app-slider>
                    <app-slider formControlName="skills" [label]="'Skills'" required></app-slider>
                    <br />
                    <div class="btn-container">
                        <button (click)="validateForm()" class="btn">Agregar</button>
                    </div>
                </form>
            </div>
        </div>


        <!-- {{formPlayer.value | json}} -->
    </div>
</div>