<div #myModal class="container">
    <div class="content">
        <div class="title">
            <p>{{title}}</p>
            <img src="../assets/close-icon.svg" (click)="close()" />
        </div>
        <br>
        <form [formGroup]="formPlayer" class="form-group">
            <app-input label="Nombre:" placeholder="Nombre" formControlName="firstName" class="form-control"
                [required]="true">
            </app-input>
            <app-input label="Apellido:" placeholder="Apellido" formControlName="lastName" class="form-control"
                [required]="true">
            </app-input>
            <app-input label="Imagen:" placeholder="Imagen" formControlName="image" class="form-control"
                [required]="true">
            </app-input>
            <app-select label="Posición:" placeholder="Seleccione posición" formControlName="idPosition"
                class="form-control" [required]="true" [data]="positionList">
            </app-select>

            <app-slider formControlName="attack" [label]="'Ataque'" class="form-control" required></app-slider>
            <app-slider formControlName="defense" [label]="'Defensa'" class="form-control" required></app-slider>
            <app-slider formControlName="skills" [label]="'Skills'" class="form-control" required></app-slider>

            <br />
            <br />

            <div class="btn-container">
                <button (click)="validateForm()" class="btn">Agregar</button>
            </div>
        </form>
        <!-- {{formPlayer.value | json}} -->
    </div>
</div>